body{
	margin: 0;
	padding: 0;
}
.header-background{
	background-color: rgb(247, 247, 247);
	margin: 0%;
	padding: 0%;
	width: 100%;
}
.header{
	list-style-type: none;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	overflow: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 0%;
	margin-bottom: 0%;
}
.left{
	display: inline-block;
	float: left;
}
.right{
	display: inline-block;
	float: right;
	width: 50%;
}
form{
	display: inline-block;
}
a, select, form{
	text-decoration: none;
}
.nav{
	color: rgb(152, 152, 152);
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
}
.navbar{
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	margin-right: 0%;
	position: sticky;
	top:0;
	background-color: rgb(255, 255, 255);
	z-index: 9999;
}
.navbar .right a{
	color: rgb(60, 54, 66);
}
.home{
	padding: 1%;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(60, 54, 66);
	margin: 1%;
}
.hover-border{
	padding: 1%;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	margin: 1%;
}
.hover-border:hover{
	padding: 1%;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(60, 54, 66);
}
.main{
	position: relative;
	text-align: center;
	color: rgb(255, 255, 255);
	margin: 0%;
	padding: 0%;
}
h1{
	font-family: Arial;
	text-transform: uppercase;
	font-size: 500%;
	margin-top: 0;
	margin-bottom: 0;
}
p.main{
	font-family: Arial;
	text-transform: uppercase;
	padding: 10px;
}
.shop{
	text-decoration: none;
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 2px;
	position: relative;
	top: 10px;
	margin: 1%;
}
main{
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=9240162744247295619");
	background-attachment: fixed;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}
.info-boxes{
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: arial;
	font-weight: bold;
	position: relative;
	top: 40px;
}
.hot{
	width: 27%;
	height: 160px;
	background-color: rgb(59, 59, 59);
}
.only{
	width: 27%;
	height: 160px;
	background-color: rgb(46, 133, 178);
}
.portable{
	width: 27%;
	height: 160px;
	background-color: rgb(77, 175, 217);
}
h3{
	padding: 2%;
	margin: 0;
	font-family: Arial;
	text-transform: uppercase;
	margin-top: 5%;
	margin-bottom: 0;
	text-align: center;
}
.selection{
	margin: 5%;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
img{
	padding: 0;
	background-color: rgb(248, 248, 248);
}
.selection div {
	flex-direction: row;
	justify-content: space-between;
	padding: 1%;
}
.selection div span{
	padding: 2%;
	font-family: Arial;
}